@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Nunito+Sans:wght@400;600;700;800&family=Playfair+Display:wght@700&display=swap');

body {
  font: 400 16px/1 'Nunito Sans', sans-serif;
  color: #2d2058;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  color: #44224b;
  font-weight: 700;
  margin: 0 0 30px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 22px;
    line-height: 1.9;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 46px;
  }

  h1 {
    font-size: 76px;
  }

  h2 {
    font-size: 52px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 32px;
  }
}

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1640px;
}

/* Typography */
a,
input[type='submit'],
input[type='button'],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
  outline: none;
}
input[type='submit'],
input[type='button'],
button,
.ba-button {
  display: inline-block;
}
input[type='submit']:hover,
input[type='button']:hover,
button:hover,
.ba-button:hover {
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
  border-radius: 39px;
  background-color: #f1eaf2;
  border: 1px solid #f1eaf2;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='tel']:focus,
textarea:focus,
select:focus {
  border-color: #723182;
  outline: none;
}
textarea {
}

/* --- header --- */
.ba-header {
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.ba-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ba-header__logo {
  max-width: 30%;
  display: flex;
  align-items: center;
}

.ba-nav__list {
  display: none;
}

.ba-nav__line {
  width: 20px;
  height: 2px;
  background: #723182;
}

.ba-nav__line + .ba-nav__line {
  margin-top: 5px;
}

@media screen and (min-width: 1024px) {
  .ba-header {
    padding-top: 59px;
  }

  .ba-nav__hamb {
    display: none;
  }

  .ba-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .ba-nav__item {
    padding-left: 60px;
  }

  @media screen and (min-width: 1440px) {
    .ba-nav__item {
      padding-left: 75px;
    }
  }

  .ba-nav__link {
    color: #44224b;
    opacity: 0.6;
    text-decoration: none;
  }

  .ba-nav__link--current,
  .ba-nav__link:hover {
    opacity: 1;
  }

  .ba-nav__link--drop {
    position: relative;
  }

  .ba-nav__link--drop:after {
    content: '';
    width: 11px;
    height: 6px;
    background-image: url(../img/arrow-down.png);
    position: absolute;
    top: 49%;
    right: -20px;
  }

  .ba-nav__link--button {
    border-radius: 27px;
    background-color: #723182;
    color: #ffffff;
    font-size: 20px;
    padding: 12px 56px;
    opacity: 1;
    border: 1px solid #723182;
  }

  .ba-nav__link--button:hover {
    background-color: transparent;
    color: #723182;
  }
}

.ba-section {
  padding: 130px 0 130px;
}

@media screen and (min-width: 1440px) {
  .ba-section {
    padding: 250px 0 250px;
  }
}

/* --- hero section --- */
.ba-hero {
  background: url(../img/hero-bg-right.png) no-repeat top right;
  background-size: 50vmin;
  position: relative;
}

.ba-hero__inner {
  padding-top: 70px;
}

.ba-hero:after {
  content: '';
  background: url(../img/hero-bg-left.png) no-repeat;
  width: 89px;
  height: 169px;
  transform: scale(0.5);
  position: absolute;
  left: -20px;
  bottom: 0;
}

.ba-search {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ba-search__label {
  position: relative;
}

.ba-search__field {
  opacity: 0.8;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  caret-color: #44224b;
}

.ba-search__placeholder {
  opacity: 0.4;
  position: absolute;
  top: 3px;
  left: 10px;
  pointer-events: none;
  transition: transform 0.5s ease-out;
}

.ba-search__field--filled + .ba-search__placeholder {
  transform: translateY(-100px);
}

.ba-search__button {
  position: absolute;
  top: 10px;
  right: 8px;
  border: none;
  background: transparent;
}

.ba-search__icon {
  width: 20px;
  height: 20px;
  fill: #8a748f;
}

.ba-search__icon:hover,
.ba-search__button:focus .ba-search__icon {
  fill: #723182;
}

@media screen and (min-width: 500px) {
  .ba-hero__inner {
    width: 80%;
    padding-top: 90px;
  }
}

@media screen and (min-width: 640px) {
  .ba-hero__inner {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .ba-hero__inner {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  .ba-search {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .ba-hero__inner {
    min-height: 20vmin;
  }
}

@media screen and (min-width: 1440px) {
  .ba-hero {
    background-size: 115vh;
    padding: 250px 0 230px;
  }

  .ba-hero:after {
    transform: initial;
    left: 15px;
    bottom: 310px;
  }

  .ba-hero__inner {
    min-height: 90vh;
  }

  .ba-hero__title {
    line-height: 1.3;
  }

  .ba-hero__intro {
    font-size: 28px;
    margin-bottom: 70px;
  }

  .ba-search {
    width: 85%;
  }

  .ba-search__icon {
    width: 36px;
    height: 36px;
  }

  .ba-search__field {
    padding: 28px 62px;
  }

  .ba-search__placeholder {
    top: -3px;
    left: 61px;
  }

  .ba-search__button {
    top: 22px;
    right: 25px;
  }
}

/* --- resources --- */

.ba-resources {
  padding-top: 30px;
  position: relative;
}

.ba-resources:after {
  content: '';
  background: url(../img/hero-bg-left.png) no-repeat;
  width: 89px;
  height: 169px;
  transform: scale(0.5);
  position: absolute;
  right: -20px;
  top: 0;
}

.ba-resources__title {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .ba-resources__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.ba-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.ba-card__title {
  font-family: 'Nunito Sans';
  margin-bottom: 5px;
}

@media screen and (min-width: 640px) {
  .ba-car,
  .ba-card__title {
    margin-bottom: initial;
  }
}

.ba-card__icon {
  max-width: 80px;
}

.ba-card__description {
  padding-left: 0;
  list-style: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .ba-resources__row {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .ba-resources:after {
    transform: initial;

    right: 0;
    top: 190px;
  }

  .ba-resources__title {
    padding-bottom: 60px;
  }

  .ba-card__icon {
    max-width: 110px;
    margin-bottom: 10px;
  }

  .ba-card__title {
    margin-bottom: 10px;
  }
}
